* {
	margin: 0;
	color: white;
}

body {
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	background: url(img/bckgrnd-1.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, .5);
	background-blend-mode: overlay;
}

h1 {
    border-bottom: 2.5px solid white;
    line-height: 100px;
}

h2 {
	line-height: 60px;
}

.back,
.next {
	text-decoration: none;
	font-size: 20px;
	position: absolute;
	top: 40px;
}

.back {
	left: 40px;
}

.next {
	right: 40px; 
}

.back:hover,
.next:hover {
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

.jurassic {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.dino {
	margin: 50px;
	border-radius: 5px;
	width: 20%;
	height: 400px;
}

.dino img {
	width: 100%;
	border-radius: 25px;
	transition: .25s;
}

.dino:hover img {
	transform: scale(1.1);
	z-index: 9999;
	border-radius: 25px;
	border-color: white;
}