* {
	margin: 0;
	color: white;
}

body {
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	background: url(img/bckgrnd-1.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, .5);
	background-blend-mode: overlay;
}

h1 {
	border-bottom: 2.5px solid white;
	line-height: 100px;
}

h2 {
	line-height: 100px;
}

.next {
	text-decoration: none;
	font-size: 20px;
	position: absolute;
	top: 40px;
	right: 40px; 
}

.next:hover {
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

.dinosaurs {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dinosaurs a {
	text-decoration: none;
	padding: 50px;
	border-bottom: 3px solid transparent;
	transition: .25s;
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;
}

.dinosaurs a:hover {
	border-color: white;
	padding-bottom: 10px;
}

.dinosaurs img {
	display: block;
	width: 850px;
	cursor: pointer;
	transition: .25s;
	border-radius: 50%;
	margin: 50px 0;
	border: 5px solid transparent;
}

.dinosaurs img:hover {
	transform: scale(1.1);
	z-index: 9999;
	border-radius: 25px;
	border-color: white;
}